/* Global styles */
body {
  background-color: #0A0528;                /* Set background color */
  color: #EDF5FA;                           /* Set font color */
  font-family: 'Inter', sans-serif;         /* Set font family to Inter */
  font-size: 1em;                           /* Set a consistent text size */
  line-height: 1.6;                         /* Maintain a good line height */
  padding: 0;
  margin: 0;                                /* Reset margin */
  height: 100vh;                            /* Full viewport height */
  display: flex;                            /* Use flexbox for centering */
  justify-content: center;                  /* Center horizontally */
  align-items: center;                      /* Center vertically */
}

.title {
  text-align: center;                 /* Center aligned text */
  margin: 20px;               /* Minimum line space between titles */
  font-family: 'Inter', sans-serif;   /* Ensure font family is consistent */
  color: #EDF5FA;                     /* Font color for titles */
  font-size: 3em;                     /* Consistent font size */
}


/* Ensure that the subtitle class remains for future use */
.subtitle {
  text-align: center;
  font-size: medium;                        /* You can adjust this if desired */
  font-weight: bold;
  margin-top: 0;
}

/* Header styles */
h2,
h3 {
  line-height: 1.2;
}

h2 {
  font-style: italic;
  font-size: 18px;
}

/* Link styles */
a:link,
a:visited {
  color: #BDCAD4;                           /* Font color for links */
  text-decoration: none;                    /* Remove underline */
}

/* Code block styles */
code,
.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%; /* Slightly smaller than regular text */
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 0; /* No extra padding needed */
  margin: 0;
}